.product-card{
    border:1px solid #39ff14;
    padding:15px;
    border-radius:12px;
    margin-bottom:15px;
}

.stock-grid{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:10px;
    margin-top:10px;
}

.stock-item{
    background:#111;
    padding:10px;
    border-radius:10px;
    text-align:center;
    border:1px solid #222;
}

.stock-item span{
    display:block;
    margin-bottom:5px;
    color:#39ff14;
    font-weight:bold;
}

.stock-item button{
    width:30px;
    height:30px;
    margin:2px;
    background:#39ff14;
    border:none;
    cursor:pointer;
    border-radius:6px;
}

.delete-btn{
    margin-top:10px;
    background:red;
    color:white;
}
